$bg-gradient: linear-gradient(to right, #a8ff78, #78ffd6);
$font-family: 'Poppins', sans-serif;
$text-color: #050609;
$bg-color: #F1E9DB;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: $font-family;
}

body {
    background: $bg-color;
}

.btn, a{
    font-weight: 500;
    color: lighten($text-color, 30) !important;

    &:hover,
    &:focus {
        color: $text-color !important;
    }
}

.btn:focus,
.btn:hover {
    outline: none!important;
    box-shadow: none !important;
}

.dropdown-item.active, .dropdown-item:active {
    background: none;
}

input, textarea, select {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input:focus,
select:focus,
textarea:focus {
    border-color: none !important;
    box-shadow: none !important;
    outline: none !important;
}

