$text-color: #050609;

.navbar{
    

    .container {
        // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        // border-radius: 4px;
        
        .brand{
            color: $text-color !important;
            font-size: 1.3em;
            cursor: pointer;
            font-weight: 600!important;
            margin: 0 !important;
        }
    
    
        .navbarlink {
            letter-spacing: 0.1px;
            font-size: 1.1em !important;

            &:focus {
                box-shadow: none !important;
            }
        }
    }
}